@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

@font-face {
  font-family: 'VCR OSD MONO';
  src: local('VCROSD'), url('../public/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
}

#root {
  @apply h-svh max-h-screen overflow-y-hidden;
}
body {
  @apply uppercase antialiased min-h-svh bg-neutral-900 text-white;
  font-family: 'VCR OSD MONO', monospace;
}

canvas {
	position: absolute;
	margin-left: "auto";
	margin-right: "auto";
	left: 0;
	right: 0;
	text-align: "center";
	z-index: 9;
	width: 640;
	height: 480;
}

@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow linear infinite;
  }

  .rotate {
    transform: rotate3d(1, 0, 0, 85deg);
  }
}

input, select {
  @apply uppercase placeholder:uppercase flex items-center border border-white;
}


input, select {
  @apply uppercase placeholder:uppercase flex items-center border border-white;
}
